.header {
    display: flex;
    padding: 10px;
  }
  
  .header h2 {
    flex-grow: 1;
  }

.label_column{
  width: 20%;
  font-weight: bold;
}

.articleTitle {
  font-style: oblique;
}

.btn {
  height: 45px;
}